
.container_user{
  grid-area: container;
}
.container_user ul{
  position:relative;
  width:90%;
  height:70vh;
  overflow-y: scroll;
  margin:0 auto;
  list-style: none;
}
.container_user header{
  display: flex;
  align-items: center;
  padding-left: 10px;
  width:85%;
  margin:2vh auto;
  height:3vh;
  font-size: 0.8em;
}
.container_user header span{
  text-align:left;
  text-transform: capitalize;
}
.container_user header span:nth-child(1){
  width:30%;
  margin-left: 6vh;
}
.container_user header span:nth-child(2){
  width:15%;
}
.container_user header span:nth-child(3){
  width:25%;
}
.container_user header span:nth-child(4){
  width:20%;
}
.container_user ul li{
  width:95%;
  height: 10vh;
  background: white;
  display: flex;
  align-items: center;
  margin:10px auto;
  padding-left:1%;
  font-size: 0.8em;
  transition: 0.2s;
}
.container_user ul li:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 50px rgba(0,0,0,0.1);
}
.container_user ul li .key{
  width:4vh;
  text-align: center;
}
.container_user ul li .letter{
  width:6vh;
  height:6vh;
  border-radius: 50%;
  background:var(--dark);
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_user ul li .name{
  width: 20%;
  padding-left: 2%;
}
.container_user ul li .id-unique{
  width: 15%;
}
.container_user ul li .email{
  width: 30%;
}
.container_user ul li .number{
  width: 16%;
}
.container_user ul li .icon{
  width:4vh;
  border:0;
  background:transparent;
  transition: 0.2s;
}
.container_user ul li .icon:hover{
  color: var(--blue);
  transform: scale(1.2);
}
