.container_home{
  background: url('../../assets/background.jpg');
  width: 100vw;
  height: 100vh;
}
.container_home nav{
  width: 50%;
  height: 10vh;
}
.container_home nav ul{
    list-style: none;
    display: flex;
}
.container_home nav ul li{
  border: 2px solid var(--blue);
  padding: 16px;
}
