.container_menu{
  grid-area: menu;
  background: white;
  box-shadow: 10px 10px 100px rgba(0,0,0,0.1);
}
.container_menu nav{
  width: 100%;
  height: 60vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}
.container_menu nav a{
  width: 100%;
  height:50px;
  font-size: 1.2em;
  padding:0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .1s;
  color:#677085;
}
.container_menu nav a:hover,
.container_menu nav a:focus{
  border-right:1px solid;
  border-color: var(--blue);
  color: var(--blue);
  opacity: 01;
}

.container_menu .logo{
  width: 100%;
  height: 20vh;
  background:var(--blue);
}
