.container_cad{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
}
.container_cad .frm{
  width: 50%;
  height: 80vh;
  background: #fff;
  margin: 75px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_cad .frm input:focus{
  border: 2px solid var(--blue);
}
.container_cad .frm label{
  align-self: flex-start;
  margin-left: 30px;
  padding-top:30px;
  padding-bottom:10px;
}
.container_cad .frm a{
  align-self: flex-start;
  padding-left: 30px;
  padding-top: 20px;
}
.container_cad .frm h1{
  margin-top: 5vh;
  text-transform: uppercase;
}
.btn{
  margin-top: 30px;
}
.container_cad .frm .input-group{
  display:flex;
  width:90%;
  height: 6vh;
  justify-content: space-between;
}
.container_cad .frm .label-group{
  display: flex;
  width:90%;
  align-items: flex-start;
  justify-content: space-around;
}
.container_cad .frm .label-group label{
  width:50%;
  margin-left: 10px;
}
.container_cad .frm .input-group input{
  width:49.5%;
  height: 100%;
}
